<p>automation works!</p>

<div class="sidebar">
    <ul class="sidebar-list">
      <li><a routerLink="/accordionAutomation">Accordion</a></li>
      <li><a routerLink="/alertsAutomation">Alerts</a></li>
      <li><a routerLink="/collapseAutomation">Collapse</a></li>
      <li><a routerLink="/datepickerAutomation">Datepicker</a></li>
      <li><a routerLink="/dropdownsAutomation">Dropdowns</a></li>
      <li><a routerLink="/modalsAutomation">Modals</a></li>
      <li><a routerLink="/paginationAutomation">Pagination</a></li>
      <li><a routerLink="/popoverAutomation">Popover</a></li>
      <li><a routerLink="/progressbarAutomation">Progressbar</a></li>
      <li><a routerLink="/ratingAutomation">Rating</a></li>
      <li><a routerLink="/sortableAutomation">Sortable</a></li>
      <li><a routerLink="/tabsAutomation">Tabs</a></li>
      <li><a routerLink="/timepickerAutomation">Timepicker</a></li>
      <li><a routerLink="/tooltipAutomation">Tooltip</a></li>
      <li><a routerLink="/typeaheadAutomation">Typeahead</a></li>
    </ul>
  </div>